################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HolidayTracker
/bin/Debug/net8.0-android
obj/
