################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FireApp/.vs
/FireApp/bin/Debug/net7.0-ios/ios-arm64
/FireApp/obj
/HolidayPlanner/.vs
/HolidayPlanner/bin/Debug
/HolidayPlanner/obj
/HolidayPlanner/bin/Release/net8.0-android
/HolidayPlanner/HolidayPlanner.csproj.user
/.editorconfig
/HolidayTracker
/bin/Debug/net8.0-android
